body {
  font-family: sans-serif;
}
[id^="carousel_"] {
  position: relative;
  overflow: hidden;
}
.carousel__container {
  transition: all 0.5s ease-in-out;
}
.carousel__container::after {
  content: "";
  clear: both;
  display: table;
}
.carousel__item {
  float: left;
}

.item {
  margin-bottom: 1rem;
  background-color: #ccc;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin: 10px;
}

.carousel__next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: red;
  padding: 10px;
  cursor: pointer;
}

.carousel__prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: red;
  cursor: pointer;
}
